*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "poppins", sans-serif;
    background-color: #f0f0f0;
}

.container{
    max-width: 500px;
    background-color: #fff;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
h1{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: red;
    text-transform: uppercase;
}
h2{
    font-size: 16px;
    font-weight: 500;
    color: orangered;
    margin-bottom: 10px;
}
label,input{
    display: block;
    margin-bottom: 5px;
}
button{
    padding: 3px 6px;
}
#output{
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}

#dataList li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}